@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Cookie&family=Damion&family=Fredericka+the+Great&family=Kaushan+Script&family=Leckerli+One&family=Merienda+One&family=Pacifico&family=Patrick+Hand&family=Permanent+Marker&family=Rock+Salt&family=Syne+Tactile&display=swap');

#body{
    background-color: rgb(19, 12, 58);
}

 body nav{
    background-color: rgb(19, 12, 58);
    border-bottom: solid 1px white;
}


nav div a{
    padding-left: 20px;
    color: gold;
}
nav div li{
    margin-right:  35px;
}

nav li a i{
    font-size: 30px;
}
i{
    padding-right: 8px;
}
#logo{
    margin-right: 100px;
}

#logo:hover{
    transform: scale(1.2);
}

li a:hover{
    text-decoration: underline;
}

.nombre{
    text-align: center;
    font-family: 'Kaushan Script', cursive;
    font-size: 100px;
    font-weight: 900;
}

#nosotros{
    margin-top: 50px;
    padding-bottom: 25px;
    
 
}

aside h5{
    font-family: 'Cookie', cursive;
    font-size: 40px;
    color: rgb(212, 211, 211);
}

#titulo{
    margin-top: 40px;
    margin-bottom: 15px;
}

section img{
padding: 15px;
border-radius: 30px;
}


div img{
    margin-left: auto;
    margin-right: auto;
}


#galeria{
    justify-content: center;
}

#fotos{
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

h2{
    text-align: center;
    color:  rgba(255, 204, 102);
    margin-bottom: 5px;
}

.carousel-img{
    width: 100%;
        max-height: 85%;
  }

  #menu{
    font-family: 'Cookie', cursive;
    margin-bottom: 150px;
  }

  #menu h2{
      font-size: 10vh;
      margin-bottom: 5vh;
  }

  #menu button{
    font-size: 5vh;
}

  #info{
      margin-top: 150px;
  }

  section p{
    color:  rgba(255, 204, 102);
    margin-bottom: 25px; 
    text-align: left; 
}

#negocio{
    background-color: rgb(13, 51, 122);
   padding-bottom: 50px;
   border: solid 2px #5c5a5a;
    border-radius: 1%;
   
}

#negocio h2{
    font-family: 'Rock Salt', cursive;
    font-size: 8vh;
    padding-top: 15px;
}

#direccion{
    font-family: 'Damion', cursive;
    font-size: 35px;
    color: rgb(255, 255, 255);
    text-align: center;
}


#platos{
    background-color: rgb(13, 51, 122);
    margin-bottom: 50px;
    padding-top: 15px;
    margin-top: 150px;
    border: solid 2px #f5f5f5;
    border-radius: 1%;
    color: #f5f5f5;
    text-align: center;
}

#platostitulo{
    font-family: 'Merienda One', cursive;
    color: gold;
    font-size: 12vh;
    text-align: center;
}
#platos div h5{
    color: gold;
    font-size: 10vh;
    font-family: 'Fredericka the Great', cursive;
}

#platos div p{
    font-size: 4vh;
    font-family: 'Leckerli One', cursive;
    padding-top: 15px;
}



#info{
    background-color: rgb(13, 51, 122);
   padding-bottom: 50px;
   padding-top: 15px;
   margin-bottom: 50px;
   border: solid 2px #f5f5f5;
   border-radius: 1%;
   color: #f5f5f5;
   text-align: center;
}

#py{
    text-align: center;
}
#py p img{
    width: 100px; 
    height: 85px;
}

#py p img:hover{transform: scale(1.2)}

#py h5{
    font-family: 'Permanent Marker', cursive;
    font-size: 30px;
    margin-bottom: 30px;
}

#py h6{
    font-family: 'Patrick Hand', cursive;
    font-size: 40px;
    margin-top: 60px;
}
#py p{
    font-family: 'Patrick Hand', cursive;
    font-size: 40px;
    margin-top: 50px;
}

section h5{
    font-family: 'Permanent Marker', cursive;
    font-size: 30px;
}

#medios{
    text-align: center;
}

#medios h5{
    font-family: 'Permanent Marker', cursive;
    font-size: 30px;
}

#medios img{

    width: 70px; 
    height: 70px;

}

#medios li{
    list-style: none;
    margin-bottom: 10px;
}

#medios li p{
    font-family: 'Patrick Hand', cursive;
    font-size: 30px;
}
section ul li{
    list-style: symbols(arrow);
    font-family: 'Syne Tactile', cursive;
    font-size: 25px;
    text-align: justify;
}


footer{
 background-color: rgb(53, 53, 53);
 padding-top: 25px;
 margin: 0px;
 border: solid 2px #5f5f5f; border-radius: 1%;
}

footer h3{
    font-family: 'Cookie', cursive;
    font-size: 85px;
}

 body footer nav{
    justify-content: center;
    background-color: rgb(53, 53, 53);
    text-align: center;
}

h3{
    text-align: center;
    color: gold;
}

#Redes{list-style-type: none; }


footer nav li{padding: 10px; margin: 15px; display: inline-block;}

footer nav li:hover{transform: scale(1.2)}

footer img{width: 75px; height: 75px; border-radius: 40%; } 

#menu{
    margin-top: 80px;
    margin-bottom: 180px;
    padding-top: 30px;
    padding-bottom: 20px;
    justify-content: center;
    background-color: rgb(3, 75, 148)
}
#boton{
    justify-content: center;
    
}

.fancy-border {
    border: 35px solid #B88846;
    border-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='75' height='75'%3E%3Cg fill='none' stroke='%23B88846' stroke-width='2'%3E%3Cpath d='M1 1h73v73H1z'/%3E%3Cpath d='M8 8h59v59H8z'/%3E%3Cpath d='M8 8h16v16H8zM51 8h16v16H51zM51 51h16v16H51zM8 51h16v16H8z'/%3E%3C/g%3E%3Cg fill='%23B88846'%3E%3Ccircle cx='16' cy='16' r='2'/%3E%3Ccircle cx='59' cy='16' r='2'/%3E%3Ccircle cx='59' cy='59' r='2'/%3E%3Ccircle cx='16' cy='59' r='2'/%3E%3C/g%3E%3C/svg%3E") 25;
  }
  
 

  @media screen and (max-width: 700px) {

   #menu h2{
        font-size: 6vh;
    }

    #negocio h2{
        font-size: 5vh;
    }
    #direccion{
        font-size: 25px;
    }
  }